<html layout:decorate="~{layout/layout.html}">
<body>
  <section class="modify-section" layout:fragment="content" >
    <form th:action="@{/member/modify}" method="POST" enctype="multipart/form-data">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">회원수정</legend>
        <div>
          <div>아이디</div>
          <span th:text="${#authentication.principal.username}"></span>
        </div>
        <div>
          <div>이메일</div>
          <span th:text="${#authentication.principal.email}"></span>
        </div>
        <div>
          <div>기존 프로필 이미지</div>
          <img class="profile-img" th:src="${#authentication.principal.getProfileImgRedirectUrl()}" alt="프로필 이미지">
          <label>
            <div>삭제</div>
            <input type="checkbox" name="profileImgDelete" value="Y">
          </label>
        </div>
        <div>
          <div>프로필 이미지</div>
          <input type="file" name="profileImage" class="file-input" accept="image/jpeg, image/jpg, image/png, image/gif, image/webp">
        </div>
        <div>
          <button type="submit" class="btn btn-neutral">수정</button>
        </div>
      </fieldset>
    </form>
  </section>
</body>
</html>

