<html layout:decorate="~{layout/layout.html}">
<body>
<section class="article-deatil-section" layout:fragment="content">
  <h1>게시물 상세보기</h1>
  <div th:text="|작성일 : ${#temporals.format(article.createDate, 'yyyy-MM-dd- HH:mm')}|"></div>
  <div th:text="|수정일 : ${#temporals.format(article.modifyDate, 'yyyy-MM-dd- HH:mm')}|"></div>
  <div th:text="|작성자 : ${article.author.username}|"></div>
  <div th:text="|제목 : ${article.title}|"></div>
  <div th:text="|내용 : ${article.content}|"></div>
</section>
</body>
</html>



